<div class="two fields">
    <div class="field">
        <label>Line 1</label>
        <ui-fc (onChange)="searchAddr($event)" [formGroup]="formGroup.controls[form.name + '_' + field.name]" [form]="form" [(model)]="model" [field]="fields.line1"></ui-fc>
    </div>

    <div class="field">
        <label>Line 2</label>
        <ui-fc (onChange)="change($event)" [formGroup]="formGroup.controls[form.name + '_' + field.name]" [form]="form" [(model)]="model" [field]="fields.line2"></ui-fc>
    </div>
</div>

<div class="three fields">
    <div class="eight wide field">
        <label>Suburb</label>
        <ui-fc (onChange)="change($event)" [formGroup]="formGroup.controls[form.name + '_' + field.name]" [form]="form" [(model)]="model" [field]="fields.suburb"></ui-fc>
    </div>
    <div class="four wide field">
        <label>State</label>
        <ui-fc (onChange)="change($event)" [formGroup]="formGroup.controls[form.name + '_' + field.name]" [form]="form" [(model)]="model" [field]="fields.state"></ui-fc>
    </div>
    <div class="four wide field">
        <label>Postcode</label>
        <ui-fc (onChange)="change($event)" [formGroup]="formGroup.controls[form.name + '_' + field.name]" [form]="form" [(model)]="model" [field]="fields.postCode"></ui-fc>
    </div>
</div>